<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>account</title>
        <p1> Account </p1>
        <form action="" method="post">
            {% if full_name %}
            <p>Hello, {{full_name}}! </p>
            <p>Your login: {{username}}</p>
            <p>Your password: {{password}}</p>
            {% endif %}
        </form>
    </head>
    <body>
    <form action="http://127.0.0.1:5000">
            <button> home </button>
        </form>
    </body>
</html>
